@import '../../variables';

.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;

    .portfolio__item {
        background: $ForegroundDark;
        padding: 1.2rem;
        border-radius: 2rem;
        border: 1px solid transparent;
        transition: $TransitionSpeed;

        .portfolio__item-image {
            border-radius: 1.5rem;
            overflow: hidden;
            transition: $TransitionSpeed;
        }

        h3 {
            margin: 1.2rem 0 2rem;
            color: $ForegroundWhite;
        }

        .portfolio__item-cta {
            display: flex;
            gap: 1rem;
            margin-bottom: 1rem;

            .github {
                color: $ForegroundWhite;
                border-color: $ForegroundWhite;
            }

            .live {
                background: $ForegroundWhite;
                color: $ForegroundDark;
            }
        }

        &:hover {
            border-color: $ForegroundDark;
            background: transparent;

            .portfolio__item-image {
                filter: brightness(0.8);
                transform: skewY(-5deg);
            }

            h3 {
                color: $ForegroundDark;
            }
            .portfolio__item-cta {
                .github {
                    color: $ForegroundDark;
                    border-color: $ForegroundDark;
                }
    
                .live {
                    background: $ForegroundDark;
                    color: $ForegroundWhite;
                }
            }
        }
    }
}

// Media Queries (MD)
@media screen and (max-width: 1024px) {
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

// Media Queries (SM)
@media screen and (max-width: 600px) {
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}