@import '../../variables';

.main-container.jobs__container {
    .org__logo {
        width: 2rem;
        height: 2rem;
        border-radius: 1rem;
    }
}



// Media Queries (MD)
@media screen and (max-width: 1024px) {
}

// Media Queries (SM)
@media screen and (max-width: 600px) {

}