
/* Color Theme Swatches in Hex */
$ForegroundDark: #1B0002;
$ForegroundLight: #A16D73;
$BackgroundColor: #FBF1E9;
$ForegroundWhite: #FFFFFF;
$ColorPrimary: #1A0004;
$ColorSecondary: #003B4A;

// Font Familys
$Archivo: 'Archivo',
sans-serif;
$Atkinson: 'Atkinson Hyperlegible',
sans-serif;

// Main-container widths
$MainContainerWidthLG: 75%;
$MainContainerWidthMD: 86%;
$MainContainerWidthSM: 90%;

// Transition speeds
$TransitionSpeed: all 400ms ease;
